main
    display: flex
    justify-content: flex-end
    flex-direction: column
    max-width: 1275px
    height: 640px
    margin: auto
    position: relative
    background-image: url("../assets/desktop/image-host.jpg")
    background-repeat: no-repeat
    background-size: contain
    background-position-x: 100%
